#loading {
    background-color: #FFF;
    cursor: wait;
    height: 100%;
    left: 0;
    opacity: .7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#loading div {
    background : transparent url(../../img/loading.gif) top left no-repeat;
    font-size : 175%;
    font-weight: bold;
    height: 2em;
    left: 50%;
    margin: -1em 0 0 -2.5em;
    padding-left : 50px;
    position: absolute;
    top: 50%;
    width: 15em;
}

#editor .cm-tagnumber {
    color: #080;
}

#editor .cm-indicator {
    color: #884;
}

#editor .cm-subfieldcode {
    color: #448;
    font-weight: bold;
}
