body {
    padding: 0;
}

#loading {
    background-color: #FFF;
    cursor: wait;
    height: 100%;
    left: 0;
    opacity: .7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#loading div {
    background : transparent url(../../img/loading.gif) top left no-repeat;
    font-size : 175%;
    font-weight: bold;
    height: 2em;
    left: 50%;
    margin: -1em 0 0 -2.5em;
    padding-left : 50px;
    position: absolute;
    top: 50%;
    width: 15em;
}

#editor .CodeMirror {
    line-height: 1.2;
}

.cm-tagnumber {
    color: #080;
    font-weight: bold;
}

.cm-bad-tagnumber {
    color: #A20;
    font-weight: bold;
}

.cm-indicator {
    color: #884;
}

.cm-subfieldcode {
    background-color: #F4F4F4;
    color: #187848;
    border-radius: 3px 8px 8px 3px;
    border-right: 2px solid white;
    margin-left: -2px;
    font-weight: bold;
}

.cm-bad-subfieldcode {
    background-color: #FFD9D9;
    color: #482828;
    border-radius: 3px 8px 8px 3px;
    font-weight: bold;
}

#editor .modified-line-gutter {
    width: 10px;
}

#editor .modified-line {
    background: #F8F8F8;
    border-left: 5px solid black;
    margin-left: -10px;
    padding-left: 5px;
}

#editor .CodeMirror-gutters {
    background: transparent;
    border-right: none;
}

#editor .subfield-widget {
    color: #538200;
    border: solid 2px #538200;
    border-radius: 6px;
    margin: 3px 0;
    padding: 4px;
}

#editor .fixed-widget {
    font-family: monospace;
    line-height: 2.75;
}

#editor .fixed-widget select {
    height: 1.5em;
    width: 3em;
    vertical-align: middle;
}

#editor .hidden-widget {
    color: #999999;
    border: solid 2px #AAAAAA;
    line-height: 2;
    padding: 2px;
}

.structure-error {
    background: #FFEEEE;
    font-size: 0.9em;
    line-height: 1.5;
    margin: .5em;
    padding: 0 .5em;
}

.structure-error i {
    vertical-align: text-bottom;
}

#statusbar {
    background-color: #F4F8F9;
    border: solid 2px #b9d8d9;
    border-bottom-style: none;
    border-radius: 6px 6px 0 0;
    height: 18px;
    margin-bottom: -32px;
    overflow: auto;
    padding: 4px;
    padding-bottom: 0;
}

#statusbar #status-tag-info, #statusbar #status-subfield-info {
    float: left;
    overflow: hidden;
    padding-right: 2%;
    width: 48%;
}

#record-info .label {
    float: none;
}

#record-info .label + span {
    display: block;
    padding-left: 1em;
}

#q {
    font-size: 1.2em;
    padding: 3px 0;
    width: 96%; // I have no idea why this is necessary
}

.icon-loading {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: transparent url("../../img/spinner-small.gif") top left no-repeat;
    padding: -1px;
    vertical-align: text-top;
}

#search-results-ui {
    background-color: white;
    border: solid 2px #444;
    border-radius: 6px 6px 6px 6px;
    height: 80%;
    overflow: auto;
    padding: 10px;
    width: 90%;
}

#searchresults table {
    width: 100%;
}

.sourcecol {
    width: 50px;
}

.results-info {
    height: 100px;
    overflow: auto;
}

.toolscol {
    padding: 0;
    width: 100px;
}

.toolscol ul {
    margin: 0;
    padding: 0;
}

#searchresults .toolscol li {
    list-style-type: none;
    list-style-image: none;
}

.toolscol a {
    border-bottom: 1px solid #BCBCBC;
    display: block;
    padding: 0 1em;
    line-height: 24px;
}

.results-marc {
    font-family: monospace;
    height: auto;
    white-space: pre-wrap;
}

#searchresults {
    position: relative;
}

#search-loading-overlay {
    background: white;
    font-size: 2em;
    opacity: .7;
    padding: 2em;
    text-align: center;
}
